@import '../variables.scss' ;

.social-icons {
    float: right
}

.social-icons li {
    list-style: none ;
    display: inline-block ;
    padding: 20px 20px ;
    color: $color-0 ;
    transition: .5s
}

.social-icons li:hover {
    color: $color-3 ;
    transition: .5s
}