h1 {
    text-transform: uppercase ;
}

.window-index {

  /* 100 viewport height - ( footer height + header height + banner line height + banner padding )*/
  height: calc(100vh - 75px - 110px - 3em - 40px ) ;
}

.sale-banner {
  text-transform: uppercase ;
  text-align: center ;
  color: white ;
  font-size: 2em ;
  padding: 0 ;
  width: 100vw
}

.spa-riley {
  font-size: 72px;
  color: white;
  margin: 40px;
}

@media only screen and (max-height: 850px), (max-width: 776px) {

    .window-index {
      height: auto ;
      margin-top: 2rem ;
      margin-bottom: 2rem
    }
    
}

@media only screen and (max-width: 910px) {

  .sale-banner {
    font-size: 1.75em
  }
  
  .spa-riley {
    font-size: 1.75em
  }

}

@media only screen and (max-width: 414px) {
  .sale-banner {
    font-size: 1.5em
  }

  .spa-riley {
    font-size: 1.5em
  }
}

@media only screen and (max-width: 320px) {

  .sale-banner {
    font-size: 1em
  }

  .spa-riley {
    font-size: 1em
  }

}