@use 'variables' ;

#footer {
  position: fixed ;
  bottom: 0 ;
  height: 75px ;
  width: 100% ;
  background-color: variables.$color-5 ;
}

#main-div {
  margin: 0px auto ;
  padding-top: 110px ;
  padding-bottom: 75px
}

#navbar {
  top: 0 ;
  width: 100% ; 
  position: fixed ; 
  background-color: variables.$color-5 ; 
  height: 110px ;
  z-index: 1
}

#sale-banner {
  text-transform: uppercase ;
  text-align: center ;
  color: variables.$color-5 ;
  font-size: 2em ;
  width: 100vw
}

.l-index {
  margin: 0px auto ;
  max-width: 960px ;
  padding-left: 1.0875rem ;
  padding-right: 1.0875rem
}

.l-vertical-center-flex {
  height: 100% ;
  display: flex ;
  align-items: center ;
}

.window {
  height: calc(100vh - ( 75px + 110px )) ;
  position: relative
}

.super-container {
  padding: 15px ;
  height: 100% ;
}