@use 'variables' ;

.bg-color-0 {
    background-color: variables.$color-0
}

.primary-border {
    border-color: variables.$color-0 ;
}

.m-nav-link {

    color: variables.$color-0 ;

    &:hover {
        color: variables.$color-2 ;
    }

}

.m-dropdown {

    background-color: variables.$color-0 ;

    &-link {

        color: variables.$color-5 ; 

        &:hover {
            background: variables.$color-4 ; 
            color: variables.$color-0 ;
        }

    }

}

.nav-text {
    color: variables.$color-0 ;
} ;

.fs-1 {
    font-size: 2em;
}

.fs-2 {
    font-size: 1.5rem;
}

.fs-3 {
    font-size: 20px;
}

.fs-4 {
    font-size: 1rem;
}

.fs-5 {
    font-size: 0.85028rem;
}

.fs-6 {
    font-size: 0.78405rem;
}