/* dark green color */
$color-0: #2F3E46 ;

/* green-blue color */
$color-1: #255957 ;

/* middle green color */
$color-2: #52796f ;

/* light green color */
$color-3: #84a98c ;

/* grey color */
$color-4: #CAD2C5 ;

/* white color */
$color-5: #f1f1f1 ;

$fs-1: 2em ;

$fs-2: 1.5rem ;

$fs-3: 20px ;

$fs-4: 1rem ;

$fs-5: 0.85028rem ;

$fs-6: 0.78405rem ;