@import './variables.scss' ;

.bg-color-0 {
    background-color: $color-0
}

.primary-border {
    border-color: $color-0 ;
}

.inner_main_menu ul li a {
    color: $color-0 ;
}

.inner_main_menu ul li a:hover {
    color: $color-2 ;
}