.window-waxing {
    margin-left: 20px ;
    margin-right: 20px
}

@media only screen and (max-height: 850px), (max-width: 776px) {

    .window-waxing {
        height: auto
    }

    .vertical-center-waxing {
        display: initial;
    }

}