@use '../../variables' ;
@use 'link' ;

.m-dropdown {

    position: absolute ;
    top: 27px;
    left: -12px ; 
    z-index: 1 ;
    display: none ;
    
    &-segment {
        display: block ;
        text-align: center;
        margin-bottom: 0
    }

    &-link {
        @extend %link ;
        text-transform: capitalize;
    }

}