@use '../../variables' ;
@use 'nav-segment' ;
@use 'nav-link' ;
@use 'dropdown' ;

.main-menu {
    margin: 0 ;
    padding: 0 ;
    list-style: none ; 
    text-align: right ; 
    padding-top: 31px
}

.inner_main_menu ul li ul li a {
    color: variables.$color-5 ; 
    font-size: 15px ;
    text-transform: capitalize;
}

.inner_main_menu ul li ul li a:hover {
    background: variables.$color-4 ; 
    color: variables.$color-0
}

#side-nav{
    height: 100% ;
    width: 0 ;
    position: fixed ;
    z-index: 1 ;
    top: 0 ;
    left: 0 ; 
    background-color: variables.$color-1 ;
    overflow-x: hidden ;
    padding-top: 60px ;
    transition: .5s
}

#side-nav ul {
    text-align: left ;
}

#side-nav ul li {
    white-space: nowrap;
    overflow-x: hidden ;
}

#side-nav a {
    padding: 8px 8px 8px 32px ;
    text-decoration: none ;
    font-size: 25px;
    color: variables.$color-4 ;
    display: block ;
    transition: 0.3s ;
}

#side-nav a:hover {
    color: variables.$color-5 ;
}

#side-nav .closebtn {
    position: absolute ;
    top: 0;
    right: 15px ;
    font-size: 36px;
    margin-left: 50px ;
    background-color: transparent ;
    border: none ;
    outline: none ;
    color: variables.$color-4 ;
}

#side-nav .closebtn:hover {
    color: variables.$color-5 ;
}

#hamburger {
    display: none ;
    padding-top: 32.5px ;
    padding-left: 30px ;
}

.nav-text {
    color: variables.$color-0 ;
}

@media screen and (max-width: 812px) {
    #hamburger {
        display: block
    }
    .inner_main_menu {
        display: none
    }
    .main-menu {
        text-align: left ;
    }
}