@use 'link' ;
@use '../../variables' ;

.m-nav {
    
    &-segment {

        float: none ;
        display: inline-block ;
        position: relative ;

        &:nth-child(-n+2) {
            float: left 
        } ;

        &:hover > .m-dropdown {
            display: block;
        }
    }  
    
    &-link {

        @extend %link ;
        font-size: 20px ; 
        text-transform: uppercase ;

    }

}