// @use 'nav-list' ;
@use '../../variables' ;

.m-nav {

    // @extend %nav-list ;
    margin: 0 ;
    padding: 0 ;
    list-style: none ; 
    text-align: right ; 
    padding-top: 31px ;
    
    &-segment {

        float: none ;
        display: inline-block ;
        position: relative ;

        &:nth-child(-n+2) {
            float: left 
        } ;

        &:hover > .m-dropdown {
            display: block;
        }
    }  
    
    &-link {
        text-transform: uppercase ;
    }

}

@media screen and (max-width: 812px) {
    .inner_main_menu {
        display: none
    }
}