@use '../../variables';
@use 'close-btn' ;

.m-side-nav {

    height: 100% ;
    width: 0 ;
    position: fixed ;
    z-index: 1 ;
    top: 0 ;
    left: 0 ; 
    background-color: variables.$color-1 ;
    overflow-x: hidden ;
    padding-top: 60px ;
    transition: .5s ;

    &-list {

        padding-top: 0px ;
        text-align: left

    }

    &-segment {
        display: block ;
        white-space: nowrap ;
        overflow-x: hidden ;
    }

    &-link {
        padding: 8px 8px 8px 32px ;
        color: variables.$color-4 ;
        transition: 0.3s ;

        &:hover {
            color: variables.$color-5 ;
        }
    }

}